{% extends 'base.html'%}

 {% block content %}
 {% for message in messages %}
 <div class="alert alert-success alert-dismissible fade show" role="alert">     
    <p>{{message}}</p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endfor %} 
 </div>
 <div class=container>
    <div class="d-flex justify-content-center form_container"> 
        <div class="row"> 
            <div class="col-md-12">
              <h2 class="mt-5" align="center">Login</h2>  
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="text" name="username" placeholder="Username" class="form-control">
                        </div>
                        <div class="input-group mb-3">
                        <input type="password" name="password" placeholder="Password" class="form-control" >
                        </div>
                        <button type="submit" type="submit" class="btn btn-outline-primary mt-3">Login</button>
                    </form>
                </div>
                <div class="mt-4">
                    <small> Don't have an account? <a href="{% url 'register' %}" class="ml-2">Sign Up</a></small>
                </div>
            </div>
        </div>
    </div>
 </div>

 {% endblock content %}
  