{%extends 'base.html'%}

 {% block content %}

 <div class="container my-5">
    <a href="{% url 'profile' %}" class="btn btn-outline-info my-3">Profile</a>
  <div class="d-flex justify-content-center form_container">
    <div class="row">
        <div class="col">
          <div class="col-md-12">               
            <img style="height:350px;"src="{{project.image.url}}" class="card-img-top" alt="..."></a>
          </div><br>
          <div class="col-md-12">    
            <div class="card">
                <div class="card-body">
                    <p style="font-family: Satisfy, cursive;  font-size:20px; color:midnightblue;">@{{project.user.username}}</p>
                    <h5 style="font-family: Oleo Script Swash Caps, cursive; font-size:27px;"class="card-title">{{project.title}}</h5>
                    <p>{{project.description}}</p>
                    <a href="{{project.url}}"><p>Link: {{project.url}}</p></a>
                </div>
            </div>
          </div>
        </div>
    </div>
  </div>
 </div> 

 {% endblock %}
