{%extends 'base.html'%}

 {% block content %}
 <div class="container my-2">

    <div class="row">
      {% if projects %}
        <h2>Found {{ projects|length }} of searched term {{message}}</h2>
      {% else %}
        <h2> Found 0 projects for the search term... {{message}}</h2>
      {% endif %}
  
    </div>
  
    {% if projects %}
        <a href="{% url '' %}" class="btn btn-outline-info my-3">Go back</a>
    </div>
    {% for project in projects %}
    <div class="container">
        <div class="row">
              <div class="col-md-12 mb-5"> 
                  <h3 align="center" style="font-family: Satisfy, cursive;">{{project.title}}</h3> 
              </div>
        </div> 
        {% for image in project.image_set.all %} 
        <div class="row">
         <div class="col-md-6 mb-5">
            <div class="card">    
                <img style="height:350px;"src="{{project.image.url}}" class="card-img-top" alt="...">
            </div>
         </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <p style="font-family: Satisfy, cursive; font-size:25px;">Name: {{project.title}}</p>
                        <p style="font-family: Satisfy, cursive; font-size:25px;">Description: {{project.description}}</p>
                        <p style="font-family: Satisfy, cursive; font-size:25px;">Description: {{project.url}}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
      {% endfor %}
  
    {% endif %}
    </div>
  </div>
  {% endblock %}
 