{% extends 'base.html'%}

{% block content %}
 <div class="container mt-5">
    <div class="d-flex justify-content-center form_container"> 
        <div class="row"> 
            <div class="col-md-12">
                <div class="card">
                    <h5 class="card-header" align="center" style="font-family:Oleo Script Swash Caps, cursive; font-size:35px;">Profile Info</h5>
                    <div class="card-body"> 
                        <form method="POST" enctype="multipart/form-data" style="width:500px;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label" style="font-size:18px;"><strong>Profile Picture:</strong></label>
                                <div>
                                  {{ p_form.profile_picture}}
                                  </div>
                              </div>
                              <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label" style="font-size:18px;"><strong>Bio:</strong></label>
                                <div>
                                  {{ p_form.bio}}
                                  </div>
                              </div>
                              <div class="form-group mt-4">
                                <button class="btn btn-primary" type="submit">Update Profile</button>
                            </div>
                          </form>              
                    </div>
                </div>
            </div>
        </div>
    </div>

  {% endblock content %}
  